PermitRootLogin no
StrictModes yes
PubkeyAuthentication yes
HostbasedAuthentication no
PasswordAuthentication no
KbdInteractiveAuthentication no
X11Forwarding no
AllowUsers {{ ansible_user }}
# vi: ft=sshdconfig
