[user]
  name = Andrii Gladkyi
  email = arg@arg.zone
  signingkey = 3660FAA76C043E51

[color]
  ui = true

[core]
  editor = nvim
  autocrlf = input
  excludesfile = ~/.gitignore

[fetch]
  prune = true

[push]
  default = simple

[format]
  pretty = %C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s - %C(green)%cr%C(reset), %C(blue)%an%C(reset)
  graph = true

[status]
  branch = true

[github]
  user = arg

[help]
  autocorrect = 40

[commit]
  gpgsign = true

[alias]
  commend = commit --amend --no-edit
  please = push --force-with-lease
  first = rev-list --max-parents=0 HEAD
  sweep = "!git branch -v | grep '\\[gone\\]' | awk '{print $1}' | xargs -n 1 git branch -D"
  new = checkout -b
  sync = pull --rebase origin master
