0 2 * * * acme /usr/bin/lockf -t 0 /tmp/.acme.sh.cronjob /usr/local/sbin/acme.sh --cron --home /var/db/acme/.acme.sh  >  /var/log/acme.sh.cronjob.log 2>&1
0 1 * * * root /usr/local/bin/sanoid  --cron --verbose --configdir /usr/local/etc/sanoid
