[Unit]
Description=Unlock home ZFS dataset
DefaultDependencies=no
After=zfs-import.target
Before=zfs-mount.service
Requires=zfs-import.target

[Service]
Type=oneshot
RemainAfterExit=yes
LoadCredentialEncrypted=zfs-home.passphrase:/etc/credstore.encrypted/zfs-home.passphrase
ExecStart=/usr/local/bin/zfs-unlock-home.sh

[Install]
WantedBy=zfs-mount.service
