/* vi: ft=css
 */

configuration {
  terminal: "alacritty";
  dpi: 163;
  font: "Hack Nerd Font 13";
  display-window: "Windows";
  display-run: "Commands";
  display-ssh: "SSH";
  sidebar-mode: true;
}

@theme "/home/arg/.config/rofi/gruvbox.rasi"
