---
---
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  color: inherit;
  border-top-width: 1px;
}

pre {
  font-family: theme('fontFamily.mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace); /* 1 */
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

details {
  display: block;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

body {
  margin: 0;
  line-height: inherit;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #282828;
  color: #ebdbb2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header, footer {
  background: #3c3836;
}

.container {
  max-width: 48rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 0.5rem;
}

header h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  flex: 1 1 0%;
  margin: 0;
}

header nav {
  flex: 1 1 0%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

header nav a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.25rem;
}

header nav a:hover {
  background: #504945;
}

main {
  flex: 1 1 0%;
  padding: 2rem 0;
}

section {
  margin: 1rem auto;
  max-width: 48rem;
  padding: 0 0.5rem;
}

section h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  border-bottom: 1px solid #928374;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-flow: row;
  gap: 1rem;
}

.grid a {
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
}

.grid a:hover, .grid a:focus {
  border-color: #928374;
}

a p {
  margin: 0.5rem 0;
}

a p.title {
  text-transform: uppercase;
  font-weight: 600;
}

a p.description {
  color: #a89984;
}

footer {
  padding: 1.25rem 0;
}

footer p {
  text-align: center;
}

footer a {
  text-decoration: underline;
  text-underline-offset: 4px;
}
