[defaults]
inventory = inventory.yml
private_key_file = ~/.ssh/network
hosts = noDefaultForSafety
interpreter_python = auto_silent
vault_password_file = bin/gpg_wrapper.sh
callback_result_format = yaml
callback_result_yaml_line_width = terminal-width

[ssh_connection]
pipelining = True
